@import-normalize;
/* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Manrope', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #fdf7f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0 0 20px 20px;
  padding-top: 20px; */

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}
.no-scroll {
  overflow: hidden;
}
